<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>

</head>

<body><form action="" method="get"><table width="341" border="1">
  <tr>
    <td width="178">Date</td>
          <td height="46">VACANCY</td>
       <td height="46">TimeY</td>
       <td height="46">CANDIDATE</td>
       <td height="46">updated_date</td>
       <td height="46">Status</td>
       <td height="46">Requested date</td>
  </tr>
    {% for i in val %}
  <tr>
          <td>{{ i.VACANCY.vacancy }}</td>
          <td>{{ i.date }}</td>
          <td>{{ i.time }}</td>
          <td>{{ i.updated_date }}</td>
          <td>{{ i.status }}</td>
     </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
